.link-row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.home-link {
  text-decoration: none;
  color: #0077cc;
  font-size: 1.4em;
  padding: 15px 25px;
  border: 2px solid #0077cc;
  border-radius: 10px;
  transition: 0.3s;
}

.home-link:hover {
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}
